*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #641b4e;
}
section{
    position: relative;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

section .logo{
    position: fixed;
    top: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
}
section .bg{
    position: absolute;
    top: 0;right: 60px;
    height: 100%;
}

section .content{
    position: relative;
    max-width: 650px;
    z-index: 1;
}
section .content h2{
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.1em;
}
section .content p{
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}

section .content a{
    color: #fff;
    background-color: #f60f20;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    font-weight: 500;
    padding: 10px 30px;
    transition: .5s;
}

section .content a:hover{
    background-color: #fff;
    color: #f60f20;
}

.copyright{
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}
.menuToggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #f60f20 url(img/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
}

.menuToggle.active{
    background: #f60f20 url(img/close.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
}


.navigation{
    position: fixed;
    top: 0;
    left: calc(100% - 60px);
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.navigation.active{
    left: 0;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 20px 0;
}

.navigation ul li a{
    font-size: 2em;
    letter-spacing: 2px;
    color: #111;
    text-decoration: none;
    font-weight: 300;
    transition: .3s;
}

.navigation ul li a:hover{
    color: #f60f20;
    letter-spacing: 4px;
}

.socialBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialBar ul{
    position: relative;
}

.socialBar ul li{
    position: relative;
    list-style: none;
}

.socialBar ul li a{
   position: relative;
   display: inline-block;
   transform: scale(.6);
}

.socialBar .emailBx{
    position: absolute;
    bottom: 20px;
    transform: scale(.6);
}

@media (max-width: 767px) {
    section{
        padding: 100px 40px;
    }
    section .content h2{
        font-size: 2.5em;
    }
    .navigation{
        left: 100%;
    }

    section .bg{
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .6;
    }
    section .logo{
        top: 10px;
        font-size: 1.5em;
    }
   
}